.about-content {
    max-width: 1000px;
    width: 100%;
    margin: 100px auto 0;
    .section-tit {
        padding-bottom: 30px;
    }
    .value-tit, .contact-tit {
        margin-top: 100px;
    }
    h2 {
        line-height: 24px;
        font-size: 24px;
        letter-spacing: 8px;
        text-align: center;
        margin: 0;
    }
    h3 {
        line-height: 34px;
        font-size: 14px;
        letter-spacing: 1px;
        text-align: center;
    }
    .about-cot {
        line-height: 34px;
        font-size: 15px;
        letter-spacing: 2px;
    }
    .anticon {
        color: #008489;
        font-size: 20px;
        padding-right: 10px;
    }
}