.clearHeader {
    .menuWrapper {
        box-shadow: none;
        background: none;
        a {
            color: #fff;
        }
    }
}
.header-box {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;

    .menuWrapper {
        box-shadow: 0 1px 0 #DBDBDB;
        color: #484848;
        background-color: #fff;
        &.clearHeader {
            box-shadow: none;
            background: none;
            a {
                color: #fff;
            }
        }

        .headerMenu {
            width: 100%;
            max-width: 1000px;
            margin: 0px auto;
            height: 60px;
            line-height: 60px;
            
            .menuLeft {
                display: inline-block;
                font-size: 28px;
                font-weight: 100;
                color: #fff;                
            }
            
            .menuRight {
                display: inline-flex;
                float: right;
                align-items: center;
                flex-direction: row;
                height: 60px;
                line-height: 60px;
            }
            
            .listLink {
                margin: 0 15px;
                height: 24px;
                line-height: 24px;
                font-size: 16px;
            }
            
            .icon-user {
                background-color: #008489;
                vertical-align: top;
            }
        }
    }
}






