.icon {
  font-family: "iconfont" !important;
  font-style: normal;
}
.content .home-content {
  .search-box {
    margin-bottom: 280px;
    .ant-input-affix-wrapper {
      width: 80%;
      margin: 0 auto;
    }
  }
  .radios-container {
    width: 80%;
    margin: 10px auto 0;
    text-align: left;
  }
  section {
    max-width: 1000px;
    width: 100%;
    margin: 200px auto;
  }
  .learn-sec, .societies-sec {
    max-width: 100%;
    width: 100%;
  }
}
.search-sec {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

section {
  h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 75px;
    text-transform: none;
    color: #6c757d;
  }
  .ant-stack-2x {
    font-size: 2em;
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center
  }
  .ant-stack {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
  }
  .ant-4x {
    font-size: 4em;
  }
  p {
    color: #6c757d!important;
    line-height: 1.75;
  }
}
#library-sec {
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .service-heading {
    margin: 15px 0;
    text-transform: none;
    font-weight: 700;
    font-size: 1.5rem;
  }
  .glyph svg {
    fill: #02828b;
    position: relative;
    left: 0px;
    top: -15px;
  }
  .sec {
    padding: 0 15px;
  }
  .icon-book {
    position: relative;
    left: -20px;
  }
}
.learn-sec {
  .musicians-member {
    margin-bottom: 50px;
    img {
      width: 225px;
      height: 225px;
      border: 7px solid #fff;
      border-radius: 50%!important;
    }
    h4 {
      margin-top: 25px;
      margin-bottom: 0;
      text-transform: none;
      font-weight: 700;
      font-size: 1.5rem;
    }
  }
  &.bg-light {
    background-color: #f8f9fa!important;
    padding: 150px 0;
  }
  .container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
  }
}
.publications-music {
  width: 100%;
  .panel {
    padding: 0 20px;
    h3 {
      font-size: 40px;
    }
    .subheading {
      font-size: 1.5rem;
      margin-bottom: 1.5em;
    }
  }
  .line:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 2px;
    content: '';
    background-color: #e9ecef;
  }
  .publications-panel {
    text-align: right;
    padding-right: 40px;
  }
  .music-panel {
    text-align: left;
    padding-left: 40px;
  }
}

.societies-sec {
  &.bg-light {
    background-color: #f8f9fa!important;
    padding: 150px 0;
  }
  .societies-container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
  }
  .society {
    margin: 0 0 30px;
    padding: 0 15px;
  }
  .society-img {
    position: relative;
    display: block;
    max-width: 400px;
    margin: 0 auto;
    label {
      position: absolute;
      left: 5px;
      top: 5px;
      display: inline-block;
      background-color: rgba(2, 130, 139,0.75);
      color: #fff;
      padding: 3px 5px;
      border-radius: 2px;
    }
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .society-info {
    max-width: 400px;
    margin: 0 auto;
    padding: 25px;
    text-align: center;
    background-color: #fff;
    text-align: justify;
    height: 150px;
  }
}

.share-img {
  margin-bottom: 100px;
  margin-top: 25px;
}

.share-info {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  text-align: justify;
  p {
    line-height: 2.75;
  }
}
@media screen and (max-width: 992px) {
  #home-page {
    .banner {
      height: 1100px;
    }
    .container.flex {
      flex-flow: wrap;
    }
    .col-6 {
      flex-basis: 100%;
      max-width: 100%;
      margin-bottom: 20px;
      h1 {
        font-size: calc(105% + 5.3vw);
      }
    }
    .menuLeft {
      padding-left: 15px;
    }
    .mobile-text-center {
      text-align: center;
    }
    .iphone {
      position: relative;
      bottom: initial;
      right: initial;
      transform: none;
      border-radius: 34px;
      margin: 50px auto 0;
      box-shadow: inset 0 0 1px 1px #dbdcdd, inset 0 0 1px 4px #efefef, inset 0 0 0 5px #fff, inset 0 0 0 6.5px #edf1f2, inset 5px 0 7px 5px #fff, inset -5px 0 7px 5px #fff;
      padding: 55px 14px 60px;
      &:before {
        box-shadow: inset 0 4px 3px 0 #e6e6e6, inset 0 0 0 2px #ececec;
      }
      &:after {
        width: 40px;
        height: 40px;
        bottom: 14px;
        left: calc(50% - 20px);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  section h2.section-heading {
    font-size: 30px;
  }
  #home-page .ant-col-8 {
    width: 100%;
    padding: 0;
    margin-bottom: 80px;
  }
  #library-sec h2.section-heading {
    font-size: 24px;
  }
  .learn-sec h2.section-heading {
    font-size: 28px;
  }
  .publications-music .ant-col-12 {
    width: 100%;
    margin-bottom: 100px;
    padding: 0 10px;
    .heading {
      text-align: center;
    }
    .publications-body, .music-body {
      text-align: justify;
    }
  }
  .publications-music .line:before {
    background: none;
  }
  .publications-music .panel h3 {
    font-size: 26px;
  }
  .publications-music .panel .subheading {
    font-size: 1rem;
  }
  .societies-sec .society-info {
    height: 200px;
    max-width: 350px;
  }
  .share-info {
    padding: 0 10px;
  }
}

@media (min-width: 375px) and (max-width: 768px) {
  .societies-sec .society-img label {
    left: 25px;
  }
}